@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf');
  font-weight: 900;
  font-display: block;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
  font-weight: 400;
  font-display: block;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
  font-display: block;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.pageTitle {
  text-align: center;
  padding: 50px 0;
  font-weight: 100;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-left {
  display: flex;
  align-items: center;
}
.main-logo-container {
  padding: 100px;
}
.main-logo {
  text-align: center;
  font-variation-settings: 'wght' 900;
  /* font-size: 1.3rem; */
  margin: 0;
  cursor: pointer;
  /* display: inline-block; */
}

@media only screen and (max-width: 720px) {
  .main-logo-container {
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    padding-bottom: 5px;
  }
}

a {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
h2 {
  font-size: 2.2rem;
  font-weight: 400;
  transition: 0.3s;
}

@media only screen and (max-width: 520px) {
  h2 {
    font-size: 1.6rem;
  }
}
